@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow+Semi+Condensed:wght@100&family=DotGothic16&family=Oswald:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Barlow Semi Condensed";
  font-size: 22px;
  line-height: 1.8em;
}

a {
  color: #f05214;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

article {
  padding: 0 1em;
}

section {
  margin: 1em;
  padding: 1em;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  padding: 2em 3em;
  text-align: center;
  color: white;
  background-image: url("./img/bg.png");
  background-size: cover;
  background-position: fixed;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 20%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}

span {
  color: #889499;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.column1 {
  width: 25%;
  float: left;
  height: 100%;
  padding: 2em;
  align-self: center;
  margin-top: 30px;
  vertical-align: middle;
}
.fab {
  border: 1px solid white;
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  margin: 5px;
  line-height: 1.5em;
  text-align: center;
}

a .fab {
  color: white;
}

.skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skills .column {
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
  text-align: center;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
  height: auto;
}

.skills .column ul,
header ul,
ul.bullet-description {
  list-style-type: none;
  text-align: left;
}

.skills .column ul > li:before {
  content: "⭐";
  padding-right: 0.5em;
  color: #509e98;
}

.ultimate-title {
  text-transform: capitalize;
}

ul.bullet-description li:before {
  content: "☑️";
  padding-right: 0.5em;
  color: #509e98;
}

.icon1 {
  background: url("./img/logo.svg");
  height: 32px;
  width: 75px;
  display: block;
  margin-left: 5px;
  margin-top: 17px;
  line-height: 1.5em;
  text-align: center;
  background-size: 115%;
  /* Other styles here */
}

footer {
  padding: 2em 1.5em;
  color: white;
  text-align: right;
  background: #2b5568;
  overflow-y: auto;
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }
}

